<a href="https://colab.research.google.com/github/janduymonroe/projetoDIO/blob/master/An%C3%A1lise_Dados_Inclus%C3%A3o_ENEM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Extração dos dados

In [32]:
#Importando as bibliotecas que serão utilizadas
import pandas as pd
import pandera as pa

In [33]:
#Atribuindo os caminhos dos diretórios a variáveis
#Os arquivos tratados podem ser baixados no link 
#https://drive.google.com/drive/folders/1cK39kp8NiuhfUy6x0nqPbrinyQMhNP4e?usp=sharing

url2016 = "/content/drive/MyDrive/ProjetoDIO - Analise ENEM/enem_2016_tea.csv"
url2017 = "/content/drive/MyDrive/ProjetoDIO - Analise ENEM/enem_2017_tea.csv"
url2018 = "/content/drive/MyDrive/ProjetoDIO - Analise ENEM/enem_2018_tea.csv"
url2019 = "/content/drive/MyDrive/ProjetoDIO - Analise ENEM/enem_2019_tea.csv"

In [34]:
#Passando os arquivos para variáveis 

df2016 = pd.read_csv(url2016)
df2017 = pd.read_csv(url2017)
df2018 = pd.read_csv(url2018)
df2019 = pd.read_csv(url2019)

In [38]:
#Como iremos unir os dataframe precisamos verificar se as colunas são iguais


colunas2016 = df2016.columns
colunas2017 = df2017.columns
colunas2018 = df2018.columns
colunas2019 = df2019.columns

#Vamos verificar o tamanho de cadas lista para escolhermos a lista com menos colunas
ano = 2016
for tamanho in [colunas2016, colunas2017, colunas2018, colunas2019]:
  print(f"Colunas do ano de {ano}: {len(tamanho)}")
  ano += 1

Colunas do ano de 2016: 102
Colunas do ano de 2017: 73
Colunas do ano de 2018: 73
Colunas do ano de 2019: 71

In [56]:
#Retirar as colunas que não são coincidentes com o ano de menor numero de colunas

col_2016_exc = [coluna for coluna in colunas2016 if coluna not in colunas2019]
col_2017_exc = [coluna for coluna in colunas2017 if coluna not in colunas2019]
col_2018_exc = [coluna for coluna in colunas2018 if coluna not in colunas2019]   

for colunas in col_2016_exc:
  df2016 = df2016.drop(colunas, axis=1)

for colunas in col_2017_exc:
  df2017 = df2017.drop(colunas, axis=1)

for colunas in col_2018_exc:
  df2018 = df2018.drop(colunas, axis=1)

71

   Unnamed: 0  NU_ANO NO_MUNICIPIO_RESIDENCIA  ... Q025  Q026 Q027
0       14496    2018             São Gonçalo  ...    B     A    A
1       18835    2018             São Gonçalo  ...    B     B    A
2       21314    2018              Uberlândia  ...    B     A    A
3       22370    2018           Florianópolis  ...    B     B    D
4       56761    2018              Indaiatuba  ...    B     A    A

[5 rows x 73 columns]

In [76]:
df.NU_ANO.value_counts()

2018    774
Name: NU_ANO, dtype: int64